<div class="card mt-2">
  <h1 class="card-header">Articles</h1>
  <div class="card-body">
    <div class="row">
      <% @articles.each do |article| %>
        <%= render article, css_classes: 'col-sm-4' %>
      <% end %>
    </div>
  </div>
</div>
