<li class="interest list-group-item"><span class="interest-title"><%= interest.name %>:&nbsp;</span>
  <% for k in interest.keywords %>
    <span class="keyword"><%= k.name %></span>&nbsp;
  <% end %>
</li>
