<p id="notice"><%= notice %></p>

<div class="card mt-2">
  <h1 class="card-header">Projects</h1>
  <div class="card-body">
    <div class="row">
      <% @projects.each do |project| %>
        <%= render project, css_classes: 'col-sm-4' %>
      <% end %>
    </div>
  </div>
</div>
