  <div class="row">
    <div class="card col-4">
      <div class="card-body">
        <h5 class="card-title"><%= current_resume.name %></h5>
        <small><%= current_resume.city %></span>, <abbr class="region" title="<%= current_resume.region %>"><%= current_resume.region_shorthand || current_resume.region %></abbr></small>
        <p class="card-text">
          {% if personal.email %}
            <div class="email"><a href="mailto:{{ basics.email }}">{{ basics.email }}</a></div>
          {% endif %}
        </p>
        <p class="card-text">
          {{ basics.summary }}
        </p>
      </div>
      <div class="card-footer" role="group" aria-label="Social media links">
        {% for profile in profiles %}
          <a href="{{ profile.url }}" class="btn socicon-{{ profile.icon_name }}" title="{{ profile }}"></a>
        {% endfor %}
      </div>
    </div>
  </div>
