// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'variables';

* {
  border-radius: 0% !important;
}

body {
  font-family: Zekton, Helvetica, sans-serif;
  background-color: $base_color !important;
  //background-image: image-url('clouds.gif');
  color: $text_color;
}

a:link, a:visited {
  color: $fg_color;

  &:hover {
    color: $selected_bg_color;
  }
}

// Widgets

.card {
  border: $borders_color solid 1px;
  border-radius: $roundness;
  background: $bg_color;
  color: $fg_color;
  //margin: $spacing;
  display: flex;
  flex-direction: column;

  .list-group-item {
    background: transparent;
  }

  .card-img, .card-img-top {
    width: 100%;
  }
  
  .card-header {
    margin: 0px;
    padding: $spacing * 2;
    padding-left: $spacing * 2;
    border: $borders_color solid 1px;
    background: $wm_title_focused;
    color: $fg_color;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $spacing;
    margin: $spacing;
    border: $borders_color solid 1px;
    border-radius: $roundness;
    background: $bg_color;
    color: $fg_color;
  
    .card {
      padding: $spacing;
    }
  }

  .card-footer {
    margin: $spacing;
    display: flex;
    flex-direction: row;
    border: $borders_color solid 1px;
    border-radius: $roundness;
    background: $bg_color;
    color: $fg_color;
    flex-wrap: wrap;
  }
}

.btn, a.btn {
  display: block;
  border: $borders_color solid 1px;
  border-radius: $roundness;
  background: $button_bg_color;
  color: $button_fg_color;
  padding: $spacing;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: $selected_bg_color;
    color: $selected_fg_color;
  }
}

nav {
  display: flex;
  flex-direction: row;

  background-color: $panel_bg_color;
  color: $panel_fg_color;
  border: $borders_color solid 1px;
  border-radius: $roundness;
  margin: $spacing * 3;

  a {
    display: block;
    color: $panel_fg_color;
    margin: $spacing * 3;
  }
}
