<p id="notice"><%= notice %></p>

<div class="card">
  <h2 class="card-header">Resumes</h2>
  <div class="card-body">

    <table>
      <thead>
        <tr>
          <th>Label</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @resumes.each do |resume| %>
          <tr>
            <td><%= resume.label %></td>
            <td><%= link_to 'Show', resume %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
