<p id="notice"><%= notice %></p>

<h1>Resumes</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resumes.each do |resume| %>
      <tr>
        <td><%= resume.label %></td>
        <td><%= link_to 'Show', resume %></td>
      </tr>
    <% end %>
  </tbody>
</table>
